{% extends "admin/change_list.html" %}

{% block object-tools %}
    <!-- <div class="object-tools">
        <ul>
            <li>
                <a href="/sales/create/" class="button">New Sale</a>
            </li>
        </ul>
    </div> -->
    <div class="col-12 col-md-auto d-flex align-items-center justify-content-end page-actions">
        <a href="/admin/purchased_products/returnsale/add/" class="btn btn-danger float-right">
            <i class="fa fa-minus-circle mr-1"> </i>
            Return Sale
        </a>
    </div>

    <div class="col-12 col-md-auto d-flex align-items-center justify-content-end page-actions">
        <a href="/sales/create/" class="btn btn-success float-right">
            <i class="fa fa-plus-circle mr-1"> </i>
            New Sale
        </a>
    </div>

    {{ block.super }}
{% endblock %}
